<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gamble_Wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,570},{219,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,227}}</string>
                <key>sourceSize</key>
                <string>{219,227}</string>
            </dict>
            <key>Gamble_Wheel0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,889},{48,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>award.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,509},{456,144}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{456,144}}</string>
                <key>sourceSize</key>
                <string>{464,150}</string>
            </dict>
            <key>cenhao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,948},{69,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{69,37}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>cenhao19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,958},{69,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{69,35}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>cenhao29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,561},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{67,37}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>cenhao39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,889},{69,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{69,37}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>cenhao49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,522},{99,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{99,37}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>cenhao59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,838},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>cenhao69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,966},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>cenhao79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,799},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>cenhao89.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,967},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>cenhao99.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,509},{99,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{99,37}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>chestCanUnlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,852},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>chestLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,724},{122,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>chestUnlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,394},{122,126}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>congratulation.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,570},{527,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,152}}</string>
                <key>sourceSize</key>
                <string>{527,152}</string>
            </dict>
            <key>congratulationlighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{570,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{570,566}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fishtide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,2},{390,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,124}}</string>
                <key>sourceSize</key>
                <string>{390,124}</string>
            </dict>
            <key>gemLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,848},{98,90}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{98,90}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>gemUnLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,852},{112,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{112,108}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,852},{166,166}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{166,166}}</string>
                <key>sourceSize</key>
                <string>{184,178}</string>
            </dict>
            <key>nenglianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,799},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>pearlLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,877},{86,41}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{86,41}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>pearlUnLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,877},{80,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>seqBonusBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{915,505}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{915,505}}</string>
                <key>sourceSize</key>
                <string>{917,505}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,724},{395,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{395,126}}</string>
                <key>sourceSize</key>
                <string>{399,130}</string>
            </dict>
            <key>upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{665,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,493}}</string>
                <key>sourceSize</key>
                <string>{665,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.pvr.ccz</string>
            <key>size</key>
            <string>{1617,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caed6baf6d5f0742f87eb2ff79269ed7:1/1$</string>
            <key>textureFileName</key>
            <string>login.pvr.ccz</string>
        </dict>
    </dict>
</plist>
