<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shelf.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,293},{145,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,169}}</string>
                <key>sourceSize</key>
                <string>{145,169}</string>
            </dict>
            <key>buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1112},{61,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,134}}</string>
                <key>sourceSize</key>
                <string>{65,134}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1248},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>close0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1301},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>clownfish.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,917},{170,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,86}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>crasyflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,850},{170,68}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,68}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>darkflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,745},{170,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,86}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>exchange0.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1145},{181,47}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{181,47}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>exchange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,540},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>exchange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,578},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>exchange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1302},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>exchange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1302},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>gemexchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{587,360}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{587,360}}</string>
                <key>sourceSize</key>
                <string>{589,360}</string>
            </dict>
            <key>gemrecycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{547,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{547,360}}</string>
                <key>sourceSize</key>
                <string>{549,362}</string>
            </dict>
            <key>goods0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1261},{82,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{82,114}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1248},{124,134}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{124,134}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,590},{124,138}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{124,138}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,464},{124,138}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{124,138}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods4.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1145},{122,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{122,144}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,716},{132,132}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{132,132}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods6.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1112},{132,130}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{132,130}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods7.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,796},{92,142}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{92,142}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>jawsflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,540},{172,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{172,88}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>lionflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1089},{170,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,88}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>market0.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,897},{181,47}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{181,47}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>market1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,940},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>moneyflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1022},{170,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,88}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>petbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{289,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,157}}</string>
                <key>sourceSize</key>
                <string>{289,157}</string>
            </dict>
            <key>rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,714},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>sale0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,466},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{194,72}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>sdbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{666,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,574}}</string>
                <key>sourceSize</key>
                <string>{666,574}</string>
            </dict>
            <key>sdbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{462,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{462,190}}</string>
                <key>sourceSize</key>
                <string>{464,190}</string>
            </dict>
            <key>shop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,714},{181,47}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{181,47}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,940},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>stunnedflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,850},{170,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,88}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,540},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.pvr.ccz</string>
            <key>size</key>
            <string>{1021,1384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6919a50f5919739d9bd80cf56c3d74e:1/1$</string>
            <key>textureFileName</key>
            <string>shop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
