<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sexp.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,138},{44,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{44,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>coinshort.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,56}}</string>
                <key>sourceSize</key>
                <string>{375,56}</string>
            </dict>
            <key>djs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,116},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{5,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,19}</string>
            </dict>
            <key>djs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,95},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,74},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,137},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>djs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,60},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>djs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,53},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,60},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>djs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,32},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,79},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>exp_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,60},{12,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,32}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,475},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,435},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,435},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jie.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,435},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jie0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,353},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,271},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>nemax.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,79},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>nlt_1r.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,94},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,42}</string>
            </dict>
            <key>nlt_pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,551},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>nlt_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,475},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>power_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,434},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,393},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,394},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,353},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,352},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,312},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>tool_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,60},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>tool_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,231},{270,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,38}}</string>
                <key>sourceSize</key>
                <string>{270,38}</string>
            </dict>
            <key>tool_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,189},{275,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{275,40}}</string>
                <key>sourceSize</key>
                <string>{279,50}</string>
            </dict>
            <key>tool_exp_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,222},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>tool_expk.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,137},{279,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,50}}</string>
                <key>sourceSize</key>
                <string>{279,50}</string>
            </dict>
            <key>tool_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,60},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>tool_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,271},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>tool_power_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,306},{77,23}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{77,23}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>tool_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,138},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>tool_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,32},{118,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{118,104}}</string>
                <key>sourceSize</key>
                <string>{122,106}</string>
            </dict>
            <key>tool_song_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,60},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>tool_song_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>toolbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{880,83}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{880,83}}</string>
                <key>sourceSize</key>
                <string>{880,89}</string>
            </dict>
            <key>xiazhushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>yingxinpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,191},{159,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,48}}</string>
                <key>sourceSize</key>
                <string>{159,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tool.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51e3c72a561f0681c8205cadd5794c1d:1/1$</string>
            <key>textureFileName</key>
            <string>tool.pvr.ccz</string>
        </dict>
    </dict>
</plist>
