<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shelf.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,500},{145,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,169}}</string>
                <key>sourceSize</key>
                <string>{145,169}</string>
            </dict>
            <key>buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,635},{61,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,134}}</string>
                <key>sourceSize</key>
                <string>{65,134}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>close0.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,52},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>clownfish.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1129},{170,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,86}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>crasyflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,957},{170,68}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,68}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>darkflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,887},{170,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,86}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>exchange0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1260},{181,47}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{181,47}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>exchange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,562},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>exchange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,407},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>exchange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,325},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>exchange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,243},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>gemexchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{587,360}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{587,360}}</string>
                <key>sourceSize</key>
                <string>{589,360}</string>
            </dict>
            <key>gemrecycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,762},{547,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{547,360}}</string>
                <key>sourceSize</key>
                <string>{549,362}</string>
            </dict>
            <key>goods0.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,975},{82,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{82,114}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,975},{124,134}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{124,134}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,671},{124,138}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{124,138}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,635},{124,138}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{124,138}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,578},{122,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{122,144}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods5.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,366},{132,132}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{132,132}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods6.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1111},{132,130}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{132,130}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>goods7.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,668},{92,142}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{92,142}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>jawsflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{172,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{172,88}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>lionflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,797},{170,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,88}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>market0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{181,47}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{181,47}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>market1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,489},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>moneyflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,578},{170,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,88}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>petbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{289,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,157}}</string>
                <key>sourceSize</key>
                <string>{289,157}</string>
            </dict>
            <key>rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,285},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,161},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>sale0.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,761},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{194,72}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>sdbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{666,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,574}}</string>
                <key>sourceSize</key>
                <string>{666,574}</string>
            </dict>
            <key>shop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,102},{181,47}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{181,47}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,161},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>stunnedflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,578},{170,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,88}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,285},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1311}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9948751902a90fdf211bc9af5aa6f3a4:1/1$</string>
            <key>textureFileName</key>
            <string>shop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
