<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sexp.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,814},{44,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{44,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{595,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,486}}</string>
                <key>sourceSize</key>
                <string>{595,486}</string>
            </dict>
            <key>about_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1064},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>about_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1299},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>coinshort.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,599},{375,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,56}}</string>
                <key>sourceSize</key>
                <string>{375,56}</string>
            </dict>
            <key>djs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,887},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,751},{5,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,19}</string>
            </dict>
            <key>djs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,887},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,874},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,874},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>djs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,657},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>djs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,657},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,900},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>djs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,657},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>djs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,657},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>exp_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,860},{12,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,32}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
            <key>fankui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1064},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>fankui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1396},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1320},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1148},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1238},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jie.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1156},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jie0.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1148},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>jie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1074},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>more_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,791},{207,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{207,67}}</string>
                <key>sourceSize</key>
                <string>{211,69}</string>
            </dict>
            <key>more_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,791},{187,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{187,61}}</string>
                <key>sourceSize</key>
                <string>{211,69}</string>
            </dict>
            <key>nemax.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1037},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>nlt_1r.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,657},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,42}</string>
            </dict>
            <key>nlt_pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1320},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>nlt_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1404},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>power_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1023},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,983},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,982},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,867},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,942},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>power_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,901},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>tool_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1404},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>tool_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,751},{270,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,38}}</string>
                <key>sourceSize</key>
                <string>{270,38}</string>
            </dict>
            <key>tool_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,709},{275,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{275,40}}</string>
                <key>sourceSize</key>
                <string>{279,50}</string>
            </dict>
            <key>tool_exp_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,898},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>tool_expk.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,657},{279,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,50}}</string>
                <key>sourceSize</key>
                <string>{279,50}</string>
            </dict>
            <key>tool_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1224},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>tool_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,860},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>tool_power_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,599},{77,23}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,13},{77,23}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>tool_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,814},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>tool_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,678},{118,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{118,104}}</string>
                <key>sourceSize</key>
                <string>{122,106}</string>
            </dict>
            <key>tool_song_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1149},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>tool_song_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1074},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>toolbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{880,83}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{880,83}}</string>
                <key>sourceSize</key>
                <string>{880,89}</string>
            </dict>
            <key>xiazhushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,784},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>yingxinpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1024},{159,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,48}}</string>
                <key>sourceSize</key>
                <string>{159,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tool.pvr.ccz</string>
            <key>size</key>
            <string>{490,1481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:229052e369be1287ced7650e19c6e217:1/1$</string>
            <key>textureFileName</key>
            <string>tool.pvr.ccz</string>
        </dict>
    </dict>
</plist>
