<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>centerRoll_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{665,390}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,390}}</string>
                <key>sourceSize</key>
                <string>{665,400}</string>
            </dict>
            <key>jb_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,280},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>jb_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,346},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>jb_d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,280},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>jb_d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,280},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jb_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,280},{64,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,10}}</string>
                <key>sourceSize</key>
                <string>{64,10}</string>
            </dict>
            <key>jb_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,280},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>jb_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,280},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>jb_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,280},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jb_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,280},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>jb_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,346},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>jb_d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,280},{64,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,10}}</string>
                <key>sourceSize</key>
                <string>{64,10}</string>
            </dict>
            <key>jb_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,280},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>nup_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,310},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>nup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,280},{22,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>nup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,344},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>nup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,344},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>nup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,344},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>nup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,344},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>nup_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,344},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>nup_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,344},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>nup_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,344},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>nup_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,344},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>nup_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,388},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>qianb.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,384},{34,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,7}}</string>
                <key>sourceSize</key>
                <string>{34,7}</string>
            </dict>
            <key>qianb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,344},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>qianb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,346},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>qianb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,346},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>qianb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,344},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>switch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{276,860}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,860}}</string>
                <key>sourceSize</key>
                <string>{278,860}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>addGold.pvr.ccz</string>
            <key>size</key>
            <string>{1531,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3060a7ed88d8be74d2e83ed61c65dcf9:1/1$</string>
            <key>textureFileName</key>
            <string>addGold.pvr.ccz</string>
        </dict>
    </dict>
</plist>
