<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,532},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>buy_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{918,546}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,546}}</string>
                <key>sourceSize</key>
                <string>{950,546}</string>
            </dict>
            <key>buy_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{736,528}}</string>
                <key>offset</key>
                <string>{107,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,18},{736,528}}</string>
                <key>sourceSize</key>
                <string>{950,546}</string>
            </dict>
            <key>buy_goods_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,659},{330,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,72}}</string>
                <key>sourceSize</key>
                <string>{330,72}</string>
            </dict>
            <key>buy_goods_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,360},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>buy_goods_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,463},{149,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,126}}</string>
                <key>sourceSize</key>
                <string>{149,126}</string>
            </dict>
            <key>buy_goods_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{446,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,148}}</string>
                <key>sourceSize</key>
                <string>{446,148}</string>
            </dict>
            <key>buy_goods_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,2},{459,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,134}}</string>
                <key>sourceSize</key>
                <string>{459,134}</string>
            </dict>
            <key>buy_goods_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,550},{447,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,126}}</string>
                <key>sourceSize</key>
                <string>{447,126}</string>
            </dict>
            <key>buy_goods_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>buy_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,678},{238,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{238,67}}</string>
                <key>sourceSize</key>
                <string>{268,67}</string>
            </dict>
            <key>buy_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,662},{268,61}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{268,61}}</string>
                <key>sourceSize</key>
                <string>{268,67}</string>
            </dict>
            <key>buy_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,614},{170,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{170,67}}</string>
                <key>sourceSize</key>
                <string>{268,67}</string>
            </dict>
            <key>buy_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,526},{215,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,61}}</string>
                <key>sourceSize</key>
                <string>{215,61}</string>
            </dict>
            <key>buy_title_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,678},{238,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,67}}</string>
                <key>sourceSize</key>
                <string>{238,67}</string>
            </dict>
            <key>buy_title_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,526},{184,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,67}}</string>
                <key>sourceSize</key>
                <string>{184,67}</string>
            </dict>
            <key>buy_title_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,348},{233,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,66}}</string>
                <key>sourceSize</key>
                <string>{233,66}</string>
            </dict>
            <key>buy_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{344,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,91}}</string>
                <key>sourceSize</key>
                <string>{344,91}</string>
            </dict>
            <key>buy_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,571},{500,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,40}}</string>
                <key>sourceSize</key>
                <string>{500,40}</string>
            </dict>
            <key>buy_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{440,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{440,44}}</string>
                <key>sourceSize</key>
                <string>{444,48}</string>
            </dict>
            <key>buy_txt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,613},{398,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,44}}</string>
                <key>sourceSize</key>
                <string>{398,44}</string>
            </dict>
            <key>buy_txt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,614},{353,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,46}}</string>
                <key>sourceSize</key>
                <string>{353,46}</string>
            </dict>
            <key>buy_txt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,532},{522,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,37}}</string>
                <key>sourceSize</key>
                <string>{522,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward.pvr.ccz</string>
            <key>size</key>
            <string>{2030,747}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1a52e00aea962e7ca24429371c62c3c:1/1$</string>
            <key>textureFileName</key>
            <string>reward.pvr.ccz</string>
        </dict>
    </dict>
</plist>
