<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipeaksoft.pay.libpayunicom3"
    android:versionCode="1001"
      android:versionName="1.0.01" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.unicom.dcLoader.welcomeview"
            android:configChanges="keyboardHidden|screenSize|navigation|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="UNICOM_DIST_ACTIVITY"
                android:value="com.ipeaksoft.fishmaster.fishmaster" />
        </activity>
        <activity
            android:name="com.example.test.TestAct"
            android:configChanges="screenSize|orientation" />

        <service android:name="com.unicom.wostore.unipay.paysecurity.SecurityServiceFramework" >
            <intent-filter>
                <action android:name="com.ipeaksoft.fishmaster.unicom.wostore.unipay.securityserviceframework" />
            </intent-filter>
        </service>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ipeaksoft.agent.activity.GameApplication"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <meta-data
            android:name="wostore_billing_otherpay"
            android:value="true" />
        <meta-data
            android:name="wostore_billing_chinaunicom"
            android:value="true" />
        <meta-data
            android:name="wostore_billing_chinamobile"
            android:value="true" />
        <meta-data
            android:name="wostore_billing_chinatele"
            android:value="true" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

</manifest>