<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bs0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,81},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,81},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,90},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,90},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,81},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,81},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs6.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,88},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs7.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,90},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs8.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,88},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs9.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,88},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>clownfish_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{97,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,85}}</string>
                <key>sourceSize</key>
                <string>{97,85}</string>
            </dict>
            <key>crasyflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>darkflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{95,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>jawsflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{95,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,79}}</string>
                <key>sourceSize</key>
                <string>{95,79}</string>
            </dict>
            <key>lionflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>moneyflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{71,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,103}}</string>
                <key>sourceSize</key>
                <string>{71,103}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{528,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,38}}</string>
                <key>sourceSize</key>
                <string>{528,38}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,92},{122,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,18}}</string>
                <key>sourceSize</key>
                <string>{124,18}</string>
            </dict>
            <key>pack_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>pack_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>pack_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{86,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>pack_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>pack_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{84,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>r0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,42},{31,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,42},{21,37}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,42},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,42},{31,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,42},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,42},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,42},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,42},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,42},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,42},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>stunnedflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>txt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,55},{562,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,50}}</string>
                <key>sourceSize</key>
                <string>{562,50}</string>
            </dict>
            <key>txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,81},{234,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,24}}</string>
                <key>sourceSize</key>
                <string>{234,24}</string>
            </dict>
            <key>txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,2},{437,51}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,51}}</string>
                <key>sourceSize</key>
                <string>{443,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.pvr.ccz</string>
            <key>size</key>
            <string>{1996,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e23d8541bf044eb4b7b65268077d10d:1/1$</string>
            <key>textureFileName</key>
            <string>card.pvr.ccz</string>
        </dict>
    </dict>
</plist>
