<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pao01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,904},{100,136}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{100,136}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>Pao01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,904},{100,136}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{100,136}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>Pao01s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{112,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{112,136}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>Pao01s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{112,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{112,136}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>Pao01x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,722},{132,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{132,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>Pao01x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,722},{132,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{132,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>Pao03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,726},{140,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,154}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>Pao03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,726},{140,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,154}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>PaoFire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,838},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>PaoFire_01s.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,782},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>PaoFire_01x.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,838},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>PaoFire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,204},{98,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,42}}</string>
                <key>sourceSize</key>
                <string>{98,42}</string>
            </dict>
            <key>ele_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,424},{114,114}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{114,114}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>ele_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,396},{162,162}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{162,162}}</string>
                <key>sourceSize</key>
                <string>{170,166}</string>
            </dict>
            <key>ele_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,362},{188,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{188,186}}</string>
                <key>sourceSize</key>
                <string>{198,196}</string>
            </dict>
            <key>ele_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{200,196}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{200,196}}</string>
                <key>sourceSize</key>
                <string>{206,204}</string>
            </dict>
            <key>ele_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{212,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{212,200}}</string>
                <key>sourceSize</key>
                <string>{216,208}</string>
            </dict>
            <key>ele_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,200},{194,200}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{194,200}}</string>
                <key>sourceSize</key>
                <string>{208,206}</string>
            </dict>
            <key>knife.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,728},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>net01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,680},{100,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,68}}</string>
                <key>sourceSize</key>
                <string>{100,68}</string>
            </dict>
            <key>net01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,712},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>net01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,540},{138,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>net01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,904},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,108}</string>
            </dict>
            <key>net01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,242},{180,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,122}}</string>
                <key>sourceSize</key>
                <string>{180,122}</string>
            </dict>
            <key>net01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,224},{200,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,136}}</string>
                <key>sourceSize</key>
                <string>{200,136}</string>
            </dict>
            <key>net01s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,910},{112,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,110}}</string>
                <key>sourceSize</key>
                <string>{112,110}</string>
            </dict>
            <key>net01s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,396},{134,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,130}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>net01s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,396},{156,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,152}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>net01s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,728},{182,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,174}}</string>
                <key>sourceSize</key>
                <string>{182,174}</string>
            </dict>
            <key>net01s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{204,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,196}}</string>
                <key>sourceSize</key>
                <string>{204,196}</string>
            </dict>
            <key>net01s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{224,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,218}}</string>
                <key>sourceSize</key>
                <string>{224,218}</string>
            </dict>
            <key>net01x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>net01x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,560},{150,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,146}</string>
            </dict>
            <key>net01x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,224},{172,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{174,170}</string>
            </dict>
            <key>net01x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{246,238}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,238}}</string>
                <key>sourceSize</key>
                <string>{248,238}</string>
            </dict>
            <key>net01x_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{228,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{228,220}}</string>
                <key>sourceSize</key>
                <string>{228,224}</string>
            </dict>
            <key>net01x_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>piercing01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,528},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>piercing01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,528},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>piercing01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,528},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>piercing02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,919},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>piercing02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,939},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>piercing02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,902},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>piercing03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,964},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>piercing03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,984},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>piercing03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,882},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>qipao2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,834},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>qipao2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,126},{114,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,124}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>qipao2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,550},{188,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{188,176}}</string>
                <key>sourceSize</key>
                <string>{190,178}</string>
            </dict>
            <key>qipao2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,560},{158,160}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{158,160}}</string>
                <key>sourceSize</key>
                <string>{222,170}</string>
            </dict>
            <key>qipao2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,550},{174,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,166}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>shot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,882},{35,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{35,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>shot01s.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,304},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>shot01x.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,919},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>shot03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,912},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>shot03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,919},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pao.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d72d04cc102a9a2c360f4a00a97da26f:1/1$</string>
            <key>textureFileName</key>
            <string>pao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
