<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bs0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,90},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,92},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,94},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,94},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs4.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,92},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,92},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs6.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,92},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,94},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs8.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,92},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bs9.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,92},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>clownfish_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{97,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,85}}</string>
                <key>sourceSize</key>
                <string>{97,85}</string>
            </dict>
            <key>crasyflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>darkflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{95,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>jawsflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{95,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,79}}</string>
                <key>sourceSize</key>
                <string>{95,79}</string>
            </dict>
            <key>lionflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>moneyflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{71,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,103}}</string>
                <key>sourceSize</key>
                <string>{71,103}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,55},{528,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,38}}</string>
                <key>sourceSize</key>
                <string>{528,38}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,94},{122,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,18}}</string>
                <key>sourceSize</key>
                <string>{124,18}</string>
            </dict>
            <key>pack_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>pack_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>pack_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{86,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>pack_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>pack_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{84,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>r0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,55},{31,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,55},{21,37}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,55},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,55},{31,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,55},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,55},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,55},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,55},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,55},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,55},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>stunnedflash_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>txt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{562,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,51}}</string>
                <key>sourceSize</key>
                <string>{562,51}</string>
            </dict>
            <key>txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,90},{234,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,24}}</string>
                <key>sourceSize</key>
                <string>{234,24}</string>
            </dict>
            <key>txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,2},{437,51}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,51}}</string>
                <key>sourceSize</key>
                <string>{443,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.pvr.ccz</string>
            <key>size</key>
            <string>{2022,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4197b5f1de1f27555753046fba24745e:1/1$</string>
            <key>textureFileName</key>
            <string>card.pvr.ccz</string>
        </dict>
    </dict>
</plist>
