<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>task_0</key>
	<dict>
		<key>describe</key>
		<string>buy_txt_1.png</string>
		<key>price</key>
		<string>能量爆发只需2元购买，由运营商代收</string>
		<key>title</key>
		<string>buy_title_1.png</string>
		<key>goods</key>
		<string>buy_goods_1.png</string>
	</dict>
	<key>task_1</key>
	<dict>
		<key>describe</key>
		<string>buy_txt_2.png</string>
		<key>price</key>
		<string>渔炮大礼包只需6元购买，由运营商代收</string>
		<key>title</key>
		<string>buy_title_2.png</string>
		<key>goods</key>
		<string>buy_goods_2.png</string>
	</dict>
	<key>task_2</key>
	<dict>
		<key>describe</key>
		<string>buy_txt_3.png</string>
		<key>price</key>
		<string>VIP卡只需10元购买，由运营商代收</string>
		<key>title</key>
		<string>buy_title_3.png</string>
		<key>goods</key>
		<string>buy_goods_3.png</string>
	</dict>
	<key>task_3</key>
	<dict>
		<key>describe</key>
		<string>buy_txt_4.png</string>
		<key>price</key>
		<string>高手大礼包只需15元购买，由运营商代收</string>
		<key>title</key>
		<string>buy_title_4.png</string>
		<key>goods</key>
		<string>buy_goods_4.png</string>
	</dict>
	<key>task_4</key>
	<dict>
		<key>describe</key>
		<string>buy_txt_5.png</string>
		<key>price</key>
		<string>龙王福利只需6元购买，由运营商代收</string>
		<key>title</key>
		<string>buy_title_5.png</string>
		<key>goods</key>
		<string>buy_goods_5.png</string>
	</dict>
	<key>task_5</key>
	<dict>
		<key>describe</key>
		<string>buy_txt_6.png</string>
		<key>price</key>
		<string>美人鱼福利只需12元购买，由运营商代收</string>
		<key>title</key>
		<string>buy_title_6.png</string>
		<key>goods</key>
		<string>buy_goods_6.png</string>
	</dict>
	<key>task_6</key>
	<dict>
		<key>describe</key>
		<string>buy_txt_7.png</string>
		<key>price</key>
		<string>好6礼包只需12元购买，由运营商代收</string>
		<key>title</key>
		<string>buy_title_7.png</string>
		<key>goods</key>
		<string>buy_goods_7.png</string>
	</dict>
</dict>
</plist>
